[Desktop Entry]
Version=1.0
Name=Compton
Comment=Compton Compositor
Exec=/bin/bash -c "seq 0 3 | xargs -l1 -I@ compton --config /etc/xdg/compton.conf -b -d :0.@"
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=XFCE;
